<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/Todos/Todos.js"></script>
    <style>
    </style>
</head>
<body>
    Hello world

    <h1>To Dos</h1>

    <button onclick="hello()">Click</button>

    <div id="todosTemp">

    </div>
    <div id="demo">
        <button onclick="loadDoc()">Load</button>
    </div>

    <table id="mixed">
        <tr>
            <th></th>
            <th>Order</th>
            <th>To do</th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th>
                <input type="checkbox"/>
            </th>

            <th>{{$index+1}}</th>
            <th>
                <input ng-model="t.EditableTodo" ng-show="t.EditorEnabled">
            </th>
            <th><a href="#" ng-click="deleteTodo(t.Id)">Delete</a></th>
            <th>
            </th>
        </tr>
    </table>


</body>
</html> 