<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/Todos/Todos.js"></script>
    <style>
    </style>
</head>
<body>
    Hello world

    <h1>To Dos</h1>
    <div id="values">
    </div>

        <div id="todosTemp">

        </div>

        @*<div id="demo">
                <button onclick="loadDoc()">Load</button>
            </div>*@

        <table id="mixed">
        </table>

        <div>
            <textarea id="myTextarea" placeholder="Add To Do Here">lots of todos</textarea>
            <br />
            <button onclick="addTodo()">Add todo</button>
        </div>
</body>
</html> 